* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #080612;
  
}
.back {
  width: 400px;
  height: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.back .cir1,
.back .cir2 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.cir1 {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}
.cir2 {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
}

form{
    height: 500px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter:blur(10px) ;
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    font-family: 'Poppins' , sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    
}

form h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
    
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color:#2A2C33;
    border: #050402;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}
::placeholder{
    color: #91949B;
}
button{
    margin-top: 50px;
    width: 100%;
    color: #080710;
    border: #050402;
    padding: 15px 0;
   font-size: 18px;
   font-weight: 600;
   border-radius: 5px;
   cursor: pointer;
}
